<!DOCTYPE html>
<html lang="hr">
<head>
  <meta charset="UTF-8" />
  <title>Raspored</title>
   <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="container-fluid">
<div class="row-fluid">
	<div class="span3 bs-docs-sidebar">
		<br>
        <ul class="nav nav-list bs-docs-sidenav">
		<li> <a href="/"><i class="icon-chevron-right"></i>Raspored</a>  </li>
		<li> <a href="./change"><i class="icon-chevron-right"></i>Odaberi termin</a> </li>
		{% if logged_in %}
		<li> <a href="/logout"><i class="icon-chevron-right"></i>Logout ({{username}})</a> </li>
		{% end %}
		</ul>
	</div>

	<div class="span5">
		<p>
		<br>
		<b>Vaš odabrani termin jest:</b> {{ moj_termin }} <br><br>
		</p>

		<form class="form-horizontal" method="POST" action="/change">
			<div class="control-group">
				<label class="radio">
				<input type="radio" name="opcija" value="0">
				Neću izaći na praktični
				</label>
				{% for r in opcije %}
				<label class="radio">
				<input type="radio" name="opcija" value="{{ r['opcija'] }}">
				{{ r['termin'] }}
				</label>
				{% end %}
				<input type="submit" class="btn btn-primary"  value="Pošalji">
			</div>
		</form>

	</div>
</div>
</div>
</body>
</html>
